version: '3'

services:
  postgres:
    build: ./docker/postgres/.
    container_name: teste_conted_db
    image: teste_conted-db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - teste_conted-network

  apache:
    build: ./docker/apache/.
    container_name: teste_conted_site
    image: teste_conted-site
    restart: always
    ports:
      - 80:80
    volumes:
      - .:/var/www/html/teste_conted
    networks:
      - teste_conted-network
    depends_on:
      - postgres

  pgadmin:
    build: ./docker/pgadmin/.
    container_name: teste_conted_sgbd
    image: teste_conted-sgbd
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${SGBD_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${SGBD_PASS}
    ports:
      - 5050:80
    volumes:
      - sgbd-data:/var/lib/pgadmin
      - ./docker/pgadmin/servers.json:/pgadmin4/servers.json
    networks:
      - teste_conted-network
    depends_on:
      - postgres

networks:
  teste_conted-network: {}

volumes:
  db-data: {}
  sgbd-data: {}
