version: '3'

services:
  apache:
    build: ./docker/apache/.
    container_name: teste_conted_site
    image: teste_conted-site
    restart: always
    ports:
      - 80:80
    volumes:
      - .:/var/www/html/teste_conted
    networks:
      - teste_conted-network
    depends_on:
      - mysql

  mysql:
    build: ./docker/mysql/.
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    container_name: mysql
    ports:
      - ${MYSQL_PORT}:3306
    environment:
      MYSQL_DATABASE: default
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql/data

networks:
  teste_conted-network: {}

volumes:
  db-data: {}
